<div class='comment <%= "own" if comment.user == current_user %>'>
  <%= turbo_frame_tag "comment_#{comment.id}" do %>
    <p><%= comment.body %></p>
    <div>
      <%= comment.user.full_name %>
    </div>
  <% end %>
</div>
