<h2>
  Here's your feed, <%= current_user.full_name %>
</h2>

<div class="flex_column flex_center">
  <%= turbo_frame_tag "new_post", src: new_post_path %>

  <div class="container" id="post_list">
    <%= render @posts %>
  </div>
</div>
