  <div class="flex_column flex_center">
    <%= turbo_frame_tag "new_post", src: new_post_path %>

    <%= turbo_frame_tag "posts" do %>
      <div class="container" id="post_list">
        <%= render @posts %>
        <%= paginate @posts %>
      </div>
    <% end %>
  </div>
