/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #3a3a3a;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3a3a3a;
  padding: 5px 20px;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: white;
}

main {
  margin: 0 auto;
  padding: 0 20px;
}

.links {
  display: flex;
}

.links button {
  background: none;
  border: 0;
  font: inherit;
  margin-left: 10px;
  cursor: pointer;
  color: white;
}

.links button:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.links button:active {
  scale: 0.9;
}
