.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.post_card {
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: white;
  width: 100%;
}

@media (min-width: 500px) {
  .post_card {
    width: 500px;
  }
}

.post_discussion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.card_link {
  text-decoration: none;
  color: inherit;
}

.post_card .actions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.post_card .actions button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  color: #3a3a3a;
  margin: 10px;
}

.post_card .actions .like {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post_card .actions img {
  width: 1.5rem;
  cursor: pointer;
}

.post_card .actions .like_count {
  margin-bottom: 5px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.btn {
  cursor: pointer;
  font-weight: bold;
  background-color: #695566;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.flex_column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex_center {
  align-items: center;
  justify-content: center;
}
