.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.post_card {
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: white;
}

.post_card turbo-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_link {
  text-decoration: none;
  color: inherit;
}

.post_card .actions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}


.post_card .actions button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  color: #3a3a3a;
  margin: 10px;
}

.post_card .actions .like {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post_card .actions .like img {
  width: 1.5rem;
  cursor: pointer;
}

.post_card .actions .like_count {
  margin-bottom: 5px;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: white;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.close_btn {
  align-self: flex-end;
  border: 0;
  background-color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.hidden {
  display: none;
}

fieldset {
  border: none;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  height: 3rem;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  cursor: pointer;
  font-weight: bold;
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
